<div class="front-container">
  <section id="content" class="content">
    <div class="w-100 min-vh-100 d-flex flex-column align-items-center justify-content-center">
      <div class="content__wrap">
        <div class="text-center">
          <%= image_tag 'marca-myr-pdf.png', class: "img-fluid h-100 mb-30 w-270", data: { aos: "fade-down", aos_duration: "3000" }, alt: "Myr-tech" %>
        </div>
        <div class="card shadow-lg">
          <div class="card-body p-4">
            <div class="text-center">
              <h1 class="h3 color-myr-tech">Criar conta</h1>
              <p class="fs-0-85rem">Cadastre-se para ter acesso aos dados e respostas <br /> da plataforma ESGSolutions.</p>
            </div>
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :post, class: 'mt-4' } ) do |f| %>
              <%= render "devise/shared/error_messages", resource: resource %>
              <div class="mb-3">
                <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", class: "form-control" %>
              </div>
              <div class="mb-3">
                <% if @minimum_password_length %>
                  <em>(<%= @minimum_password_length %> characters minimum)</em>
                <% end %><br />

                <%= f.password_field :password, autofocus: true, autocomplete: "email", placeholder: "Informe seu Senha", class: "form-control" %>
              </div>

              <div class="mb-3">
                <%= f.password_field :password_confirmation, autofocus: true, autocomplete: "email", placeholder: "Confirme sua senha", class: "form-control" %>
              </div>

              <div class="d-grid mt-5">
                <%= f.submit "Cadastrar", class: "btn btn-primary btn-lg btn-login" %>
              </div>
            <% end %>

            <div class="d-flex justify-content-between gap-md-5 mt-4">
              <%= render "devise/shared/links" %>
            </div>
            <div class="d-flex align-items-center justify-content-center gap-3 mt-4">
              <button class="btn btn-light" onclick="window.history.back()">Voltar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
