<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Relatório PDF</title>
  <style>
    body {
      font-family: Arial, sans-serif;
    }
    .axis {
      margin-bottom: 20px;
    }
    .messages {
      margin-top: 30px;
    }
    .message {
      padding: 10px;
      margin-bottom: 10px;
    }
    .text-center {
      text-align: center;
      width: 100%;
    }
    .page-break {
      page-break-before: always; /* Adiciona a quebra de página antes da seção */
      margin-top: 20px; /* Espaço acima da seção, se desejado */
    }

    .customer-info {
      margin-bottom: 20px; /* Espaço abaixo do bloco de informações do cliente */
    }

    .customer-name {
      margin: 0; /* Remove a margem padrão do h2 */
      font-size: 1.5em; /* Ajusta o tamanho da fonte, se necessário */
      }

    .media-total {
      display: flex;
      justify-content: center;
    }

    .company-name {
      display: block; 
      margin-top: 5px; 
      font-size: 10px !important; 
      color: #666; 
      }

    .img-small {
      width: auto;
      height: 50px;
    }
    
    .space-image {
      margin-left: 20px;
      margin-right: 20px;
    }

    .line {
      width: 100%;          /* Define a largura da linha */
      height: 2px;          /* Define a altura da linha */
      background-color: #000; /* Define a cor da linha (aqui, preto) */
      margin: 20px 0;       /* Espaçamento acima e abaixo da linha */
    }


  </style>
</head>
<body>


  <div class="text-center">
    <% if @show_logos %>
      <%= image_tag wicked_pdf_asset_base64("esg-na-pratica-pdf.png"), class: "img-small" %> <%= image_tag wicked_pdf_asset_base64("ccbc-pdf.png"), class: "img-small" %>
    <% else %>
      <%= image_tag wicked_pdf_asset_base64("marca-myr-pdf.jpeg"), class: "img-small space-image" %> <%= image_tag wicked_pdf_asset_base64("ccbc-pdf.jpeg"), class: "img-small space-image" %> <%= image_tag wicked_pdf_asset_base64("esg-na-pratica-pdf.jpeg"), class: "img-small" %>
    <% end %>
  </div>


  <h1 class="text-center">Relatório de Resultados</h1>
  <div class="customer-info">
    <h2 class="customer-name"> Cliente: <%= @customer.first.customer.name %> </h2>
    <h4 style="margin-top: 5px;"> Nome da empresa: <%= @customer.first.customer.company_name %></h4>
  </div>
  <div>
    <p><b>Média Total:</b> <%= format("%.2f", (total_average_score / 3 * 10).floor / 10.0) %></p>
    <p><b>Maturidade:</b> <%= maturity.name %> - <%= maturity.description_result %></p>
  </div>

  <% @results.each_with_index do |result, index| %>
    <div class="axis">
      <h2 style="display: inline; margin-right: 10px;"><%= result[:results][:axi_name] %></h2>
      <p style="display: inline;">(Média de Pontuação: <%= result[:results][:average_score] %>)</p>

      <% themes = case index
        when 0 then @axis_environmental
        when 1 then @axis_social
        when 2 then @axis_governance
      end %>

      <% themes.each do |theme| %>
        <p><strong><%= theme[:theme_name] %>:</strong> <%= theme[:average_score] %></p>
      <% end %>
      <div class="line"/>
    </div>
  <% end %>

    <div class="page-break"></div>

  <div class="messages">
    <h3>Próximos passos</h3>
    <% @messages.each do |message_data| %>
      <div class="message" style="background-color: <%= message_data[:color_code] %>;">
        <p><%= message_data[:message].message %></p>
      </div>
    <% end %>
  </div>

  <p>Média Total: <%= format("%.2f", (total_average_score / 3 * 10).floor / 10.0) %></p>

  <p>Maturidade: <%= maturity.name %> - <%= maturity.description_result %></p>

</body>
</html>

