<div class="section image-bonsai-growth py-5">
  <div class='container'>
    <div class='row align-items-center g-4'>
      <div class='col-lg-6 col-12 pe-lg-5'>
        <div class='mb-5'>
          <div class="display-3 pb-4 text-muted space-logo">
            <%= image_tag 'marca-myr.png', class: "img-fluid h-100 mb-30 w-270", data: { aos: "fade-down", aos_duration: "1000" }, alt: "Myr-tech" %>
            <br>
            <span class="gradient-text fw-bold d-table-cell lh-55" data-aos="fade-left" data-aos-duration="1000">
              Conheça sua
              <span class='bg-maturity'>maturidade</span>
              na agenda ESG
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="image-maturity py-5">
  <div class="container">
    <div class="row align-items-center g-md-5 g-4">
      <div class="col-12 d-none-sustainability-card">
        <div class="mb-5">
          <div class="d-flex justify-content-end align-items-end">
            <div class="bg-green rounded-5 text-center p-5 color-text-maturity shadow-lg">
              <p>
                Em um mundo onde a <span class="bold-text">sustentabilidade</span> e a <span class="bold-text">responsabilidade corporativa</span>
                são cada vez mais valorizadas, a jornada ESG se tornou essencial para empresas que buscam não apenas o sucesso financeiro, mas também prosperidade e um impacto positivo no mundo ao seu redor.
              </p>
              <p>
                <span class="bold-text">Identificar os</span> <span class="color-internship-maturity">estágios de maturidade dos critérios ESG</span> é essencial para definir metas realistas e desenvolver um plano de ação que impulsione o progresso.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-12 d-none-custom ms-auto">
        <div class="mb-5">
          <div class="d-flex justify-content-end align-items-end">
            <div class="bg-green rounded-5 text-center p-5 color-text-maturity shadow-lg">
              <p>
                Em um mundo onde a <span class="bold-text">sustentabilidade</span> e a <span class="bold-text">responsabilidade corporativa</span>
                são cada vez mais valorizadas, a jornada ESG se tornou essencial para empresas que buscam não apenas o sucesso financeiro, mas também prosperidade e um impacto positivo no mundo ao seu redor.
              </p>
              <p>
                <span class="bold-text">Identificar os</span> <span class="color-internship-maturity">estágios de maturidade dos critérios ESG</span> é essencial para definir metas realistas e desenvolver um plano de ação que impulsione o progresso.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section agenda-esg py-5">
  <div class="container">
    <div class="row mx-lg-auto mb-5 mb-sm-7 mb-lg-10">
      <div class="col-lg-3 col-12">
        <p class="agenda-esg-text">Agenda ESG: <br /> Entenda o conceito <br />e sua importância!</p>
      </div>
      <div class="col-lg-9 col-12 spacing-next-section">
        <p class="pt-3-rem">
          O termo <span>ESG</span>, que em inglês significa <span>“environmental, social and governance”</span> (ambiental, <br /> social e governança – ASG), é composto por três pilares fundamentais:
        </p>
      </div>
    </div>
    <div class="position-relative spacing-agenda-esg">
      <div class="row mb-5">
        <div class="col-lg-4 mb-4 mb-lg-0">
          <div class="card-body agenda-esg-card">
            <div class="esg-card-header">
              <%= image_tag('ic-ambiental.png') %>
            </div>
            <div class="mb-3 color-text-card pt-80">
              <h4 class="mb-1 text-center card-color-environmental font-bold font-size-40">E</h4>
              <p class="text-center">(Ambiental)</p>
              <p class="ps-5 pe-5 color-text-card">
                Refere-se às práticas relacionadas à preservação do meio ambiente, como a gestão de questões como poluição do ar e da água, desmatamento, mudanças climáticas e emissões de carbono.
              </p>
            </div>
          </div>
          <div class="esg-card-footer card-color-footer-environmental effect-footer mb-5 spacing-next-section"></div>
        </div>
        <div class="col-lg-4 mb-4 mb-lg-0 spacing-top-section">
          <div class="card-body agenda-esg-card">
            <div class="esg-card-header">
              <%= image_tag('ic-social.png') %>
            </div>
            <div class="mb-3 color-text-card pt-80">
              <h4 class="mb-1 text-center color-social card-color-social font-bold font-size-40">S</h4>
              <p class="text-center">(Social)</p>
              <p class="ps-5 pe-5 color-text-card">
                Representa a forma como a empresa interage com as pessoas, incluindo funcionários e comunidades locais, stakeholders, englobando aspectos de responsabilidade social, conformidade/compliance, proteção de dados dos clientes e promoção da diversidade.
              </p>
            </div>
          </div>
          <div class="esg-card-footer card-color-footer-social effect-footer mb-5 spacing-next-section"></div>
        </div>
        <div class="col-lg-4 mb-4 mb-lg-0 spacing-top-section">
          <div class="card-body agenda-esg-card">
            <div class="esg-card-header">
              <%= image_tag('ic-governanca.png') %>
            </div>
            <div class="mb-3 color-text-card pt-80">
              <h4 class="mb-1 text-center card-color-governance font-bold font-size-40">G</h4>
              <p class="text-center">(Governança)</p>
              <p class="ps-5 pe-5 color-text-card">
                Relaciona-se à administração da organização e sua conduta corporativa, incorporando a Sustentabilidade na centralidade da governança, abrangendo a relação com governos e acionistas, além de políticas anticorrupção e canais para denúncias.
              </p>
            </div>
          </div>
          <div class="esg-card-footer card-color-footer-governance effect-footer"></div>
        </div>
      </div>
    </div>
    <div class="section-intro mb-5">
      Esses três pilares são amplamente utilizados como critérios por investidores para avaliar se uma empresa adota práticas sustentáveis e gera impactos positivos nos aspectos financeiro, social e ambiental, tornando-a uma opção de investimento atraente, na medida em que os riscos são minimizados com a corporação comprometida com a Agenda ESG.
    </div>
  </div>
</div>

<div class="section business-advantages py-5 position-relative">
  <div class="container">
    <div class="row align-items-center g-md-5 g-4 mt-10">
      <div class="col-12 col-md-6 text-md-start text-start">
        <div class="bg-advantages mb-4">
          <h4>Vantagens para o seu negócio!</h4>
        </div>
        <p class="text-advantages">
          Com a implementação da Agenda ESG, a sua empresa obtém inúmeras <span>vantagens competitivas</span> no mercado, tais como:
        </p>
        <ul class="items-advantages">
          <li>Atração de investimentos e financiamentos sustentáveis</li>
          <li>Aumento da reputação da empresa </li>
          <li>Acesso a novos mercados e oportunidades de negócios </li>
          <li>Retenção e atração de talentos </li>
          <li>Redução e mitigação de riscos </li>
          <li>Redução do impacto ambiental e contribuição para o desenvolvimento sustentável.</li>
        </ul>
    </div>
    </div>
  </div>
</div>
<div class="quiz-objective py-5">
  <div class="container position-relative">
    <div class="text-left mb-2-3 mb-md-6 objective">
      <h2>Objetivo do Questionário</h2>
      <p>
        Este questionário tem como objetivo realizar um <span>diagnóstico de maturidade</span>, permitindo que os respondentes avaliem seu desempenho em diferentes cenários. É importante destacar que os resultados obtidos são de caráter informativo, ou seja, servem apenas para fornecer uma visão sobre o estágio atual de desenvolvimento. As respostas ajudam a identificar áreas de maior maturidade e potenciais pontos de melhoria, mas não implicam em qualquer avaliação formal. O objetivo principal é promover o autoconhecimento e orientar possíveis ações futuras.
      </p>
      <p>
        <span>Lembre-se, cada empresa tem uma trajetória única, e o importante é buscar sempre a melhoria contínua rumo a um impacto positivo!</span>
      </p>
    </div>
    <div class="col-12 d-flex justify-content-center align-items-center">
      <button type="button" class="btn-result-quiz btn-sm h-54 mt-40 color-text-button" onclick="window.open('<%= new_customer_url %>')">
        Identifique o estágio de maturidade da sua empresa e avance na jornada ESG!
      </button>
    </div>
  </div>
  <%= image_tag('img-axi.png', class: 'img-axi') %>
</div>
<footer class="bg-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6 mb-1-9 mb-md-0">
        <%= image_tag('marca-myr-branca.png', class: 'img-footer mt-4 mb-4') %>
      </div>
      <div class="col-md-6">
        <div class="d-flex justify-content-end justify-content-md-center">
          <%= link_to "grupomyr.com.br", 'https://grupomyr.com.br/', target: "_blank", class: "group-myr" %>
        </div>
      </div>
    </div>
  </div>
</footer>
